:root {
  --panel-radius: 50%;
  --panel-min-height: 42px;
  --color: grey;
  --background-color: white;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: text-bottom;
  border: 3px solid grey;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

body {
  font-family: sans-serif, "Helvetica";
  color: black;
  background-color: var(--background-color);
  margin: 0;
}

textarea:focus {
  outline: none;
  border: none;
}

.app-title {
  margin: 0;
}

.app-tagline {
  margin: 0 0 2rem;
  color: grey;
  font-size: small;
}

.page-title {
  margin: 0;
}

.sidebar-margin-border-padding {
  margin: 2rem;
}

.user-detail-card {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  border-radius: 50%;
}

.avatar-detail {
  height: 15rem;
}

.avatar-list {
  height: 4rem;
}

.reaction-panel {
  display: flex;
  flex-direction: row;
}

.reaction-panel > * {
  padding: 0.5rem 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 2rem;
}

.reaction-likes > *, .reaction-comments > * {
  margin: 0 0.2rem 0;
  align-content: center;
}

.reaction-likes {
  border: 1px solid var(--color);
  border-right: none;
  border-top-left-radius: var(--panel-min-height);
  border-bottom-left-radius: var(--panel-min-height);
}

.reaction-comments {
  border: 1px solid var(--color);
  border-left : none;
  border-top-right-radius: var(--panel-min-height);
  border-bottom-right-radius: var(--panel-min-height);
}

.panel-icon-comment {
  margin-right: 0.4rem;
}

.create-post-container {
  border: solid 1px grey;
  border-radius: 0.5rem;
  margin: 2rem 0;
  max-width: 28rem;
}

.create-post-title {
  margin: 0;
  padding: 0.6rem;
  border-bottom: solid 1px grey;
  text-align: center;
}

.create-post-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.create-post-input-element {
  background-color: white;
  border: none;
  height: 8rem;
  resize: none;
}

.create-post-submit-button {
  margin: 0.2rem 0;
  padding: 0.5rem 1rem;
  border-radius: 100000px;
  border: solid grey 1px;
}

.auth-modal-container {
  padding: 8px;
  border: solid grey 1px;
  border-radius: 0.5rem;
}

.auth-modal-content {
  margin: 8px;
  width: 20rem;
}

.auth-login-signup-container {
  display: flex;
  flex-direction: column;
}

.auth-form-title {
  margin: 0;
  text-align: center;
}

.auth-form-input {
  border: solid grey 1px;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.auth-form-label {
  font-size: 0.8rem;
  height: 1rem;
  margin-bottom: 4px;
}

.auth-form-description {
  font-size: 0.8rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.auth-form-text-content {
  font-size: 0.8rem;
  margin: 16px auto;
  width: 80%;
  text-align: center;
}

.auth-form-email-display-container {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.auth-form-email-display {
  text-align: center;
  margin: 8px 0;
}

.auth-form-cancel-button {
  font-size: x-small;
  color: red;
  text-align: center;
  margin: 0.5rem;
  background-color: var(--background-color);
  border: none;
  width: 3rem;
}

.auth-form-error {
  color: red;
}

.app-full-page {
  display: flex;
  flex-direction: row;
}

.app-content-column {
  width: 650px;
  padding: 2rem;
}

.sidebar-create-post-button {
  background-color: var(--background-color);
  border: solid 1px grey;
  border-radius: 100px;
  margin: 0.2rem 0;
  padding: 0.5rem 1rem;
}

.sidebar-selected {
  background-color: gold;
}
