body {
  background-color: black;
  color: white;
}

.sidebar-margin-border-padding {
  margin: 2rem;
}

.user-detail-card {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  border-radius: 50%;
}

.avatar-detail {
  height: 25rem;
}

.avatar-list {
  height: 4rem;
}

.home-post-input {
  border: solid 2px red;
  border-radius: 0.5rem;
}
