:root {
  --panel-radius: 50%;
  --panel-min-height: 42px;
  font-family: sans-serif, "Helvetica";
}

body {
  background-color: black;
  color: white;
}

.sidebar-margin-border-padding {
  margin: 2rem;
}

.user-detail-card {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  border-radius: 50%;
}

.avatar-detail {
  height: 15rem;
}

.avatar-list {
  height: 4rem;
}

.reaction-panel {
  display: flex;
  flex-direction: row;
}

.reaction-panel > * {
  padding: 0.5rem 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 2rem;
}

.reaction-likes > *, .reaction-comments > * {
  margin: 0 0.2rem 0;
  align-content: center;
}

.reaction-likes {
  border: 1px solid white;
  border-right: none;
  border-top-left-radius: var(--panel-min-height);
  border-bottom-left-radius: var(--panel-min-height);
}

.reaction-comments {
  border: 1px solid white;
  border-left : none;
  border-top-right-radius: var(--panel-min-height);
  border-bottom-right-radius: var(--panel-min-height);
}

.panel-icon-comment {
  margin-right: 0.4rem;
}

.create-post-container {
  border: solid 1px grey;
  border-radius: 0.5rem;
  margin: 2rem 0;
  max-width: 28rem;
}

.create-post-title {
  margin: 0;
  padding: 0.6rem;
  border-bottom: solid 1px grey;
  text-align: center;
}

.create-post-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.create-post-input-element {
  background-color: black;
  border: none;
  height: 8rem;
  resize: none;
}

.create-post-submit-button {
  margin: 0.2rem 0;
  padding: 0.5rem 1rem;
  border-radius: 100000px;
}
